* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

#product-overview {
  background: #ff1b68;
  padding: 10px;
  /* width: 50%; */
  height: 528px;
}

#product-overview h1 {
  color: white;
  font-family: "Monda", sans-serif;
  /* margin: 30px; */
}

.section-title {
  color: #2ddf5c;
}

/* h1 + p {
  color: rebeccapurple;
} */

/* h1 ~ p {
  color: rebeccapurple;
} */

/* div > p {
  color: rebeccapurple;
} */

.main-header {
  background-color: #2ddf5c;
  width: 100%;
  padding: 8px 16px;
}

.main-header > div {
  display: inline-block;
}

.main-nav {
  vertical-align: middle;
  display: inline-block;
  text-align: right;
  width: calc(
    100% - (70px + 5px)
  ); /* Extra 5px to consider the empty space between the div element and the nav element in our html file*/
}

.main-nav__brand {
  vertical-align: middle;
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  font-size: 22px;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
}

.main-nav__items a {
  color: #0e4f1f;
  text-decoration: none;
  margin: 0 16px;
  font-weight: bold;
}

.main-nav__items a:hover, .main-nav__items a:active {
  color: white;
}

.main-nav__items--cta a{
  background: #ff1b68;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
}

.main-nav__items--cta a:hover, .main-nav__items--cta a:active {
  background: white;
  color: #ff1b68;
}
